<div class="container py-3">
  <div class="content">

    <div class="header">
      <h2>Trail Cam Feed</h2>
      <div class="log-buttons">

        @if (loginService.isLoggedIn()) {
        <button class="login-btn" (click)="logout()">
          Log Out
        </button>
        } @else {
        <button class="login-btn" (click)="modalService.openLogin()">
          Log In
        </button>
        }

      </div>
    </div>
    <div class="toolbar">

      <!-- FILTER BUTTON GROUP -->
      <div class="filter-group">

        <button class="filter-btn" [class.active]="imageStore.filter() === 'all'" (click)="setFilter('all')">
          All
        </button>

        <button class="filter-btn animal" [class.active]="imageStore.filter() === 'animals'"
          (click)="setFilter('animals')">
          Animals
        </button>

      </div>

      <!-- SEARCH -->
      <div class="search-wrapper">

        <input type="text" class="search-input" placeholder="Search labels..."
          (input)="setSearch($event.target.value)" />



      </div>

    </div>
  </div>
  @if (loginService.isLoggedIn()) {
  @if (hasStatistics) {

  <div class="statistics-list">

    @for (
    stat of statisticsService.animalStatistics() | keyvalue;
    track stat.key
    ) {

    <div class="stat-item">
      <span>{{ stat.key }}</span>
      <strong>{{ stat.value }}</strong>
    </div>

    }

  </div>

  } @else {

  <p class="no-statistics">
    No animals detected.
  </p>

  }
  <!-- FIXED GRID -->
  <div class="grid">
    @for (image of imageStore.filteredImages(); track image.key) {

    <div class="grid-item" (click)="open(image)">

      <img [src]="image.url" />

      @if (image.hasAnimal) {
      <div class="badge">Animal</div>
      }

      <div class="overlay">
        {{ formatDate(image.createdAt) }}
      </div>

    </div>

    }


  </div>
  }
  @else {

  <div class="login-required">
    <p>You must log in to view the images.</p>

  </div>

  }


  <!-- MODAL -->
  @if (selectedImage) {
  <div class="modal-backdrop" (click)="close()">
    <div class="modal-content" (click)="$event.stopPropagation()">

      <img [src]="selectedImage.url" />
      <!-- DATE -->
      <div class="modal-date">
        {{ formatDate(selectedImage.createdAt) }}
      </div>
      <!-- LABELS -->
      <h3 class="labels-title">Rekognition labels:</h3>
      <div class="labels">

        @for (label of selectedImage.labels; track label) {
        <span class="label-chip">{{ label }}</span>
        }
      </div>



    </div>
  </div>
  }

</div>